<!--Content Section-->
<div id="services" class="scrollto clearfix">
    <div class="row no-padding-bottom clearfix">
        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>Every man has his secret sorrows which the world knows not; and often times we call a man cold when
                    he is only sad.
                </q>
                <footer>― Henry Wadsworth Longfellowr</footer>
            </blockquote>
            <!-- End of Testimonial-->
        </div>
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Focusing On What Matters Most</h2>
                <p class="section-subtitle">“The Seven Social Sins are:</p>
            </div>
            <p>Wealth without work.</p>
            <p>Pleasure without conscience.</p>
            <p>Knowledge without character.</p>
            <p>Commerce without morality.</p>
            <p>Science without humanity. </p>
            <p> Worship without sacrifice.</p>
            <p>Politics without principle. </p>
            <p>
                From a sermon given by Frederick Lewis Donaldson in Westminster Abbey, London, on March 20, 1925.” </p>
            <p> ― Frederick Lewis Donaldson</p>

            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="tgbNymZ7vqY" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->
        <div class="col-3">
            <img src="assets/images/dancer.jpg" alt="Dancer" />
        </div>
    </div>
</div>
<!--End of Content Section-->