<!-- <h1>Contact us </h1>
  <form #frm="ngForm">
    <div>
      <label>
        Name
      </label>
      <input type="text" name="name" class="from-control" [(ngModel)]="name" required pattern="[a-z]+"
      #nam="ngModel"/>
      <div>
        <div *ngIf="nam.required && nam.touched" class="alert alert-danger"> Name is required</div>
      </div>
    </div>
    <div>
      <label>
        Name
      </label>
      <input type="text" name="name" class="from-control" [(ngModel)]="enail" required pattern="[a-z]+"
      #nam="ngModel"/>
    </div>
    <div>
      <label>
        Name
      </label>
    <button type="submit" class="btn btn-sucsses">Submit</button>
    </div>
  </form>
 -->
